extends ../layout

block content
    h1#title
        | #{event.title}
    p#p
        | user
    ul#messages
        each message in chat
            li #{message.user} (#{message.time}): #{message.content}
    form(action='')
        input#m(autocomplete='off')
        button Send
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function () {
        var socket = io();
        $('form').submit(function () {
        socket.emit('chat message', {user: $('#p').text(),content: $('#m').val(), time: (new Date).toLocaleTimeString(), room: $('#title').text()});
        $('#m').val('');
        return false;
        });
        socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(`${msg.time}  ${msg.user}:  ${msg.content}`));
        });
        });