extends ../layout

block content
    h1
        | #{title}
    
    div.row
        div(class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]")
            if events.length > 0
                ul.event-list
                    each event in events
                        li
                            time(datetime=event.time)
                                span.day 4
                                span.month July
                                span.year 2017
                                span.time ALL Day
                            img(src=event.photo, alt="")
                            div.info
                                h2.title=event.title
                                p.desc=event.details