extends ../layout

block content
    h1
        | My profile information
    div
        label Avatar
        img(src=context.avatar, width="120px", height="120px")
    div
        label Username:
        span=context.username
    div
        label First name:
        span=context.firstName
    div
        label Last name:
        span=context.lastName
    div
        label Email:
        span=context.email
    div
        label Age:
        span=context.age
    div
        if user == context.username
            button(id='show-my-events-btn' type="button", class="btn btn-success btn-lg btn-block") Show my events
        else
            button(id='show-my-events-btn' type="button", class="btn btn-success btn-lg btn-block") Show events
    div#my-events.hidden
        | My Events:
        div.event-items

